//fontStyle

//나눔네오
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//평창평화제
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

//강원교육모두체
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//카페써라운드24
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//이사만루
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//태나다
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//나눔스퀘어
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

//scssVar
$fontNanumNeo : 'NanumSquareNeo-Variable';
$fontPCB : 'PyeongChangPeace-Bold';
$fontGEB : 'GangwonEdu_OTFBoldA';
$fontCafe24 : 'Cafe24Ssurround';
$fontGGM : 'GongGothicMedium';
$fontNaumS : 'nanumsquare';
$contentWidth : 375px; //250
$contentHeight : 500px;
$cardObjectLeft : 55px;

//frameStyle
* {
    margin: 0;
    padding: 0;
}

body{
    width: 375px;
    height: 667px;
    max-width: 375px;
    max-height: 667px;
    //667px
}

//headerBar
#header{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    
    li{
        list-style: none;
        float: left;
        width: 22%;
        height: 80px;
        text-align: center;
        line-height: 50px;
    }

    .headerBtn{
        text-align: left;
        margin-left: 10px;

        #iconChangeState{
            padding-top: 11.5px;
            width: 25px;
            height: 25px;
            font-size: 35px;
            color: #7873f5;
        }
    }
    
    .headerSearch {
        text-align: right;
        margin-left: 0px;

        #iconSearch {
            padding-top: 10px;
            width: 0px;
            height: 25px;
            font-size: 37px;
            color: #7873f5;
            }
    }

    .headerLogo{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 37px;
        font-family: 'Tenada';
        background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
        color: transparent;
        -webkit-background-clip: text;
    }

    .headerProfileImg{
        width: 53px;
        height: 52px;
        padding-top: 2px;
        margin-top: 3.5px;
        margin-left: 19px;
        border-radius: 100px;
        background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

        .userProfileImg{
            width: 50px;
            height: 50px;
            margin: auto;
            object-fit: cover;
            border-radius: 100px;
        }
    }
}

//content
#content{
    width: 100%;

    .chatCreateContent{
        position: absolute;
        margin-left: 30px;


        width: $contentWidth -60px;
        height: $contentHeight - 10px;

        li{
            list-style: none;
        }

        .chatCreateCard{
            width: $contentWidth - 60px;
            height: $contentHeight - 10px;
            border-radius: 15px;
            box-shadow: 7px 7px 5px 1px #DBDCDD;
            text-align: center;
            position: absolute;
        }

        .chatRoomImage{
            border-radius: 100px;
            background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
            position: absolute;
            top: 30px;
            left: $cardObjectLeft + 28px;
            width: 160px;
            height: 160px;
            overflow: hidden;
            .cRI {
                width: 100%;
                height: 100%;
                margin: auto;
                display: block;
                object-fit: cover;
            }
        }

        .chatTitleinput{
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 220px;
            left: $cardObjectLeft - 38px;
            width: 90%;
            height: 50px;
            font-weight: bold;
            font-size: 21px;
            font-family: $fontGGM;
            color: #1E1E1E;
            border-radius: 8px;
            background-color: #ffffffe9;

            .inputTitle{
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 8px;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                font-family: $fontGGM;
                color: #1D1D1D;
            }
        }

        .chatDescinput{
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 280px;
            left: $cardObjectLeft - 38px;
            width: 90%;
            height: 150px;
            font-weight: bold;
            font-size: 21px;
            font-family: $fontNaumS;
            color: #1D1D1D;
            border-radius: 8px;
            background-color: #ffffffe9;

            .inputDesc {
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 8px;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                font-family: $fontNaumS;
                color: #1D1D1D;
            }
        }

        .chatCreateButton{
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 440px;
            left: $cardObjectLeft - 38px;
            width: 90%;
            height: 40px;
            font-weight: bold;
            font-size: 17px;
            font-family: $fontNaumS;
            color: #676767;
            border-radius: 8px;
            background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
            border: none;
        }
    }

    .chatSetting{
        width: $contentWidth - 60px;
        height: $contentHeight - 440px;
        border-radius: 15px;
        box-shadow: 5px 5px 3px 1px #DBDCDD;
        position: absolute;
        top: 495px;
        background: #ebedee;

        .listArea{
            width: 100%;
            height: 100%;
            overflow-x: auto;
            white-space: nowrap;
        }

        .colorSet{
            width: 43px;
            height: 43px;
            border-radius: 15px;
            border: none;
        }

        ul{
            margin-top: 8px;
            margin-left: 15px;
        }

        li{
            display: inline-block;
            list-style: none;
            margin-left: 1px;
        }
    }

    details>summary {
        list-style: none;
    }
    
    details>summary::-webkit-details-marker {
        display: none;
    }

    details{
        z-index: 1;
        width: 40px;
        height: 40px;
        position: absolute;
        font-size: 30px;
        text-align: center;
        color: #535353;
        top: 110px;
        left: 50px;
        border-radius: 8px;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

        li{
            display: inline-block;
            list-style: none;
            width: 40px;
            height: 40px;
            text-align: center;
            padding-top: 4px;
        }

        button{
            width: 40px;
            height: 40px;
            font-size: 30px;
            text-align: center;
            color: #535353;
            border-radius: 8px;
            background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
            border: none;
        }
    }
}

//Makerbtn
.chatMakerBtn {
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 575px;
    left: 275px;

    #chatMakerBtn{
        font-size: 85px;
        //background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        //background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
        background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
        transform: scaleX(-1);
        color: transparent;
        -webkit-background-clip: text;
    }
}

.listArea::-webkit-scrollbar {
    display: none;
}
.listArea li::-webkit-scrollbar {
    display: none;
}